.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh; /* Full-screen height */
  background-color: #f0f4f8; /* Subtle background color for contrast */

  .box {
    background-color: white;
    padding: 30px;
    border-radius: 15px; /* Curved corners */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); /* Floating box shadow */
    max-width: 400px;
    width: 90%; /* Responsive width */
    text-align: center;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: translateY(-5px); /* Subtle lift effect on hover */
    }

    h1 {
      margin-bottom: 20px;
      color: #333;
      font-size: 30px;
    }

    form {
      display: flex;
      flex-direction: column;
      margin-top: -1.5rem;

      input {
        margin: 10px 0;
        padding: 12px;
        font-size: 1em;
        border-radius: 8px; /* Curved input fields */
        border: 1px solid #ddd;
        outline: none;
        color: black;
        transition: box-shadow 0.2s;
        cursor: pointer;

        &:focus {
          box-shadow: 0 0 8px rgba(78, 161, 153, 0.5); /* Focus glow */
          border-color: #4ea199;
        }
      }

      button {
        background-color: #4ea199;
        color: black;
        padding: 12px;
        border: none;
        border-radius: 8px; /* Match input curvature */
        cursor: pointer;
        font-size: 1em;
        transition: background-color 0.2s;

        &:hover {
          background-color: #01796f;
        }
      }

      .genderField {
        display: flex;
        align-items: center;
        position: relative;
        border-radius: 8px;

        input {
          flex-grow: 1;
          padding-right: 40px; /* Space for eye icon */
        }

        .dropdownIcon {
          position: absolute;
          right: 10px;
          cursor: pointer;
          font-size: 1.2em;
          color: #4ea199; /* Match the button color */
        }

        .dropdownIcon:hover {
          color: #01796f;
        }

        ul {
          list-style: none;
          padding: 0;
          margin-top: 140px; // Add space below the input
          width: 100%; // Ensure full width below input
          color: black;
          background: white;
          border-radius: 8px;
          box-shadow: 0 0 8px rgba(78, 161, 153, 0.5);
          display: block; // Initially hide it
          position: absolute;
          z-index: 10;
      
          li {
            padding: 10px;
            cursor: pointer;
            text-align: left;
            display: block; // Ensure it takes full width
            width: 100%; // Make it occupy full width
            border-radius: 8px;
      
            &:hover {
              background: #f0f4f8;
            }
          }
        }
      }

      .passwordField {
        display: flex;
        align-items: center;
        position: relative;

        input {
          flex-grow: 1;
          padding-right: 40px; /* Space for eye icon */
        }

        .eyeIcon {
          position: absolute;
          right: 10px;
          cursor: pointer;
          font-size: 1.2em;
          color: #4ea199; /* Match the button color */
        }

        .eyeIcon:hover {
          color: #01796f;
        }
      }
    }

    .divider {
      margin: 20px 0;
      display: flex;
      align-items: center;
      text-align: center;

      span {
        color: #666;
        font-weight: bold;
        padding: 0 10px;
      }

      &::before,
      &::after {
        content: "";
        flex: 1;
        border-top: 1px solid #ddd;
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

    
      .stepButton {
        background-color: #4ea199;
        color: black;
        padding: 12px;
        border: none;
        border-radius: 8px; /* Match input curvature */
        cursor: pointer;
        font-size: 1em;
        width: 100%;
        transition: background-color 0.2s;

        &:hover {
          background-color: #01796f;
        }
      }
    }
    
    .buttonsSpaced {
      display: flex;
      justify-content: space-between;
      gap: 10%;
      margin-top: 20px;
    
      .stepButton {
        background-color: #4ea199;
        color: black;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: background 0.3s ease;
        width: 40%;
    
        &:hover {
          background-color: #01796f;
        }
      }
    }
    

    .googleSignUp {
      background-color: #4ea199;
      color: black;
      padding: 12px;
      border-radius: 8px;
      cursor: pointer;
      font-size: 1em;
      text-align: center;
      margin: 10px 0;
      transition: background-color 0.2s;

      &:hover {
        background-color: #01796f;
      }
    }

    .alreadyAccount {
      margin-top: 20px;
      font-size: 14px;
      color: black;

      .loginLink {
        cursor: pointer;
        color: #4ea199;
        text-decoration: none;
        transition: color 0.2s;

        &:hover {
          color: #01796f;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    height: 105.6vh; /* Full-screen height */
  }
}
