@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbar for mobile */
@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  /* For Firefox */
  html {
    scrollbar-width: none;
  }

  /* For Internet Explorer/Edge */
  body {
    -ms-overflow-style: none;
  }
}
