.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88dvh;
  background-color: #f8fafc;

  .box {
    background-color: #e5e7eb;
    padding: 30px; 
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
    text-align: center;
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    }

    .text-black {
      color: black;
    }

    h1 {
      margin-bottom: 20px;
      background: linear-gradient(90deg, #000, #000);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      font-size: 2rem;
      font-weight: 500;
    }

    form {
      display: flex;
      flex-direction: column;

      input {
        margin: 10px 0;
        padding: 12px;
        font-size: 1em;
        border-radius: 8px; /* Curved input fields */
        border: 1px solid rgba(78, 161, 153, 0.5);
        outline: none;
        color: black;
        transition: box-shadow 0.2s;
        cursor: pointer;
        background-color: #fff;

        &:focus {
          box-shadow: 0 0 8px rgba(78, 161, 153, 0.5); /* Focus glow */
          border-color: #4ea199;
        }
      }

      .passwordField {
        display: flex;
        align-items: center;
        position: relative;

        input {
          flex-grow: 1;
          padding-right: 40px; /* Space for eye icon */
        }

        .eyeIcon {
          position: absolute;
          right: 10px;
          cursor: pointer;
          font-size: 1.2em;
          color: #4ea199; /* Match the button color */
        }

        .eyeIcon:hover {
          color: #01796f;
        }
      }

      button {
        background: linear-gradient(90deg, #4ea199, #6fc3bd);
        color: white;
        padding: 12px;
        margin-top: 15px;
        border: none;
        border-radius: 8px; /* Match input curvature */
        cursor: pointer;
        font-size: 1em;
        transition: background-color 0.2s;

        &:hover {
          transform: translateY(-1px);
          box-shadow: 0 4px 8px rgba(78, 161, 153, 0.3);
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    height: 91.6vh; /* Full-screen height */
  }
}