.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88.75vh;
  background-color: #f0f4f8;

  .box {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
    text-align: center;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: translateY(-5px);
    }

    .text-black {
      color: black;
    }

    h1 {
      margin-bottom: 20px;
      color: #333;
      font-size: 30px;
    }

    form {
      display: flex;
      flex-direction: column;

      input {
        margin: 10px 0;
        padding: 12px;
        font-size: 1em;
        border-radius: 8px; /* Curved input fields */
        border: 1px solid #ddd;
        outline: none;
        transition: box-shadow 0.2s;

        &:focus {
          box-shadow: 0 0 8px rgba(78, 161, 153, 0.5); /* Focus glow */
          border-color: #4ea199;
        }
      }

      .passwordField {
        display: flex;
        align-items: center;
        position: relative;

        input {
          flex-grow: 1;
          padding-right: 40px; /* Space for eye icon */
        }

        .eyeIcon {
          position: absolute;
          right: 10px;
          cursor: pointer;
          font-size: 1.2em;
          color: #4ea199; /* Match the button color */
        }

        .eyeIcon:hover {
          color: #01796f;
        }
      }

      button {
        background-color: #4ea199;
        color: black;
        padding: 12px;
        border: none;
        margin-top: 15px;
        border-radius: 8px; /* Match input curvature */
        cursor: pointer;
        font-size: 1em;
        transition: background-color 0.2s;

        &:hover {
          background-color: #01796f;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    height: 91.6vh; /* Full-screen height */
  }
}