.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
    background-color: #f0f4f8;
  
    .box {
      background-color: white;
      padding: 30px;
      border-radius: 15px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
      max-width: 400px;
      width: 90%;
      text-align: center;
      transition: transform 0.2s ease-in-out;
  
      &:hover {
        transform: translateY(-5px);
      }
  
      .text-black {
        color: black;
      }
  
      h1 {
        margin-bottom: 20px;
        color: black;
        font-size: 30px;
      }
  
      p {
        color: black;
        font-size: 16px;
        margin-bottom: 15px;
      }
  
      form {
        display: flex;
        flex-direction: column;
  
        input {
          margin: 10px 0;
          padding: 12px;
          font-size: 1em;
          border-radius: 8px;
          border: 1px solid #ddd;
          outline: none;
          transition: box-shadow 0.2s;
          color: black;
  
          &:focus {
            box-shadow: 0 0 8px rgba(78, 161, 153, 0.5);
            border-color: #4ea199;
          }
        }
  
        button {
          padding: 12px;
          margin-top: 10px;
          font-size: 1em;
          border-radius: 8px;
          border: none;
          background-color: #4ea199;
          color: black;
          cursor: pointer;
          transition: background-color 0.2s ease-in-out;
  
          &:hover {
            background-color: #3a8273;
          }
  
          &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
          }
        }
      }
  
      .message {
        margin-top: 15px;
        color: black;
        font-size: 14px;
      }
    }
  }
  