.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  flex-direction: row;

  @media (max-width: 770px) {
    flex-direction: row-reverse; // Switch order for mobile
  }

  .menuToggle {
    display: none;
    cursor: pointer;

    &:hover{
      color: #01796f;
    }

    @media (max-width: 770px) {
      display: block;
      z-index: 1100;
      position: relative;
      order: 2; // Move menuToggle to the left in mobile
    }
  }

  .logoContainer {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;

    @media (max-width: 770px) {
      justify-content: flex-end; // Moves KIITBites to the opposite side
    }

    a {
      text-decoration: none;
      font-size: 1.5rem;
      color: #333;
    }
  }

  .navOptions {
    display: flex;
    gap: 1.5rem;

    @media (max-width: 770px) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;

      &.open {
        transform: translateX(0);
      }
    }
  }

  .menuBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4.5rem;

    @media (max-width: 770px) {
      position: relative;
      top: -205px; /* Moves the element upwards without affecting the document flow */
      background-color: white;
      width: 80%;
      gap: 45px;
      border-radius: 25px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
      padding: 25px;
      flex-direction: column;
      align-items: center;
      z-index: 1;
    }    
  }

  .navItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;

    &:hover{
      color: #01796f;
    }

    @media (max-width: 770px) {
      margin-top: 5px;
    }
  }
}

// Prevents scrolling when menu is open
body.menu-open {
  overflow: hidden;
}

@media (max-width: 768px) {
  :global(::-webkit-scrollbar) {
    width: 0px;
    height: 0px;
  }

  :global(html) {
    scrollbar-width: none;
  }

  :global(body) {
    -ms-overflow-style: none;
  }
}
